* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: white;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 200px;
}

header a {
  color: #191c03;
}

header nav {
  display: flex;
}

a {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
  padding: 0 10px;
}

a:hover {
  opacity: 1;
}

a:visited, a:hover, a:active {
  color: inherit;
}

body{
  text-align: center;
}

main{
  display: inline-block;
  border: black solid 1px;
  padding: 30px;
}

.form-section {
  text-align: left;
  margin: 25px;
}

.hotel-form, .list-section{
  margin: 25px;
  color: rgb(73, 73, 73);
  font-size: 25px;
}

button{
  width: 30%;
  padding: 20px;
  margin-top: 20px;
  font-size: 18px;
}

li{
  text-align: left;
  margin-bottom: 5px;
  padding:10px;
  font-size:25px;
  border: black 1px solid;
}

ol{
  display: inline-block;
  list-style-type: none;
  margin-top:15px;
  width: 90%;
}

textarea{
  box-sizing: content-box;
  padding: 10px;
}
